.navbar-main {
  display: flex;
  flex-direction: row;

  background-color: white;

  width: 97%;
  height: 75px;

  padding: 5px;

  @media screen and(max-width: 465px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;

    width: 96%;

  }


  .hamburger-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    width: 33%;
    height: auto;

    @media screen and (max-width: 465px){
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;

      padding: 0px;
    }

    .hamburger-menu__icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      height: 100%;
      padding: 0 0 0 30px;

      @media screen and(max-width:465px) {
        padding: 0px 0px 0px 10px;
      }

      cursor: pointer;

      span:first-child {
        width: 40px;
        height: 3px;
        background: #0700ff;
      }

      span:nth-child(2) {
        width: 40px;
        height: 3px;
        background: black;

        margin-top: 5px;
      }

      span:nth-child(2) {
        width: 40px;
        height: 3px;
        background: #0700ff;

        margin-top: 5px;
      }

      span:nth-child(3) {
        width: 40px;
        height: 3px;
        background: #0700ff;

        margin-top: 5px;

      }
    }


  }

  .logo-main {
    @media screen and(max-width: 465px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      align-content: flex-end;

      height: auto;
      width: 70%;


    }

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 33%;
    height: auto;

    a {
      text-decoration: none;
    }

    h2 {
      overflow: hidden;
      font-size: 54px;
      font-family: 'Strretch Sans';
      padding: 10px;
      text-transform: uppercase;
      font-weight: bold;
      color: #0700ff;

      -webkit-text-stroke-width: 0.1px;
      -webkit-text-stroke-color: rgb(255, 255, 255);

      @media screen and(max-width:465px) {
        font-size: 50px;
      }
    }

  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 33%;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px;

    @media screen and(max-width: 465px) {
      display: none;
    }

    .social__icon {
      padding: 10px;
    }

    .fa-facebook {
      cursor: pointer;
    }

    .fa-instagram {
      cursor: pointer;
    }

    .fa-medium {
      cursor: pointer;
    }
  }
}