.home-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    max-width: 100%;
    width: 100%;
    height: 100vh;

    padding: 0 0 90px 0;


    @media screen and (min-width: 465px) and(max-width: 1118px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;

        max-width: 100%;
        width: 100%;
        height: auto;

        padding: 0 0 90px 0;


    }



    @media screen and(max-width: 465px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        width: 100%;
        height: auto;

        .main-banner__description {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;

            h1 {
                font-size: 20px;
            }
        }
    }

}


.main-banner__description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;

    width: 33%;

    h1 {
        font-family: 'Alpha';
        font-weight: 900;
        font-size: 13em;
        height: 50px;
        color: white;
        padding-left: 20px;

    }

    span {
        font-family: 'Poppins';
        font-size: 22px;
        margin-left: 10px;
        color: white;
    }

    @media screen and(min-width: 265px) and(max-width: 765px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;

        padding: 20px;

        width: 100%;


        img {
            width: 150px;
            padding: 40px;
        }

        h1 {
            font-family: 'Alpha';
            font-weight: 900;
            font-size: 52px;
            color: white;
            margin-left: 10px;
            height: 50px;
        }

        span {
            font-family: 'Poppins';
            font-weight: 600;
            color: white;
        }
    }
}

.main-banner__picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    width: 33%;

    @media screen and(min-width: 265px) and(max-width: 765px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        align-content: center;
        flex-wrap: wrap;

        width: 100%;


    }

    .profile-picture__main {
        @media screen and(min-width:1600px) {
            width: 550px;
        }

        @media screen and(max-width: 450px) {
            width: 250px;
        }
    }
}


.main-banner__languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    width: 33%;
    height: 523px;

    @media screen and(min-width: 0px) and(max-width: 765px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        align-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        padding-bottom: 20px;

        img {
            width: 100px;
        }
    }



}